Source: diamond
Maintainer: Ben Heilman <bheilman@enova.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: python-diamond
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Smart data producer for graphite graphing package

